<!--Intro-->
<div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(../../assets/main-cover.jpg); background-attachment: fixed;">
  <div class="full-bg-img mask rgba-white-light">
    <div class="container flex-center">
      <div class="row pt-5 mt-3 w-100">
        <div class="col-md-12 mb-3">
          <div class="intro-info-content text-center">
            <h2 class="h1 display-3 mb-5 wow fadeInDown" data-wow-delay="0.3s"><strong>Ruk</strong><a class="green-text font-bold"><strong>.LK</strong></a></h2>
            <h5 class="font-up mb-5 mt-1 font-bold wow fadeInDown" data-wow-delay="0.3s"><strong>Make the world GREEN</strong></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Projects-->
<section class="section text-center">
  <h2 class="font-weight-bold h1 py-5"><strong>Who are you... ?</strong></h2>
  <p class="grey-text pb-5 text-center mx-xl-5 px-xl-5">You're warmly welcome to Ruk.LK. Let us know who are you </p>
  
  <div class="row d-flex justify-content-center">

    <div class="col-lg-6 col-xl-5 mb-3">
      <div class="view overlay rounded z-depth-2 waves-light" mdWavesEffect>
        <img src="../../assets/buyer.jpg" class="image-fluid">
        <a><div class="mask rgba-white-slight"></div></a>
        <mdb-card-body>
          <a href="#" class="green-text">
            <h4 class="font-weight-bold mt-2 mb-3"><strong>Buyer</strong></h4>
            <div class="container">
              <p>Are you interst in buying plants ? So here is the chance. Come and Join with us</p>
              <a mdbBtn size="md" rounded="true" class="wave-light btncolor white-text" mdbWavesEffect>Register</a>
            </div>
          </a>
        </mdb-card-body>
      </div>
    </div>

    <div class="col-lg-6 col-xl-5 mb-3">
        <div class="view overlay rounded z-depth-2 waves-light" mdWavesEffect>
          <img src="../../assets/seller.jpg" class="image-fluid" width="550px">
          <a><div class="mask rgba-white-slight"></div></a>
          <mdb-card-body>
            <a href="#" class="green-text">
              <h4 class="font-weight-bold mt-2 mb-3"><strong>Seller</strong></h4>
              <div class="container">
                <p>Are you Selling plants? Do you want to meet customers ? So here is the chance. Come and Join with us</p>
                <a mdbBtn color="successs" size="md" rounded="true" class="wave-light btncolor white-text" mdbWavesEffect>Register</a>
              </div>
            </a>
          </mdb-card-body>
        </div>
      </div>

  </div>

  <div class="row d-flex justify-content-center">

      <div class="col-lg-6 col-xl-5 mb-3">
        <div class="view overlay rounded z-depth-2 waves-light" mdWavesEffect>
          <img src="../../assets/volunteer.jpg" class="image-fluid" width="550px">
          <a><div class="mask rgba-white-slight"></div></a>
          <mdb-card-body>
            <a href="#" class="green-text">
              <h4 class="font-weight-bold mt-2 mb-3"><strong>Volunteer</strong></h4>
              <div class="container">
                <p>Are you a volunteer ? Are you interst in donating money for plant trees ? So here is the chance. Come and Join with us</p>
                <a mdbBtn color="successs" size="md" rounded="true" class="wave-light btncolor white-text" mdbWavesEffect>Register</a>
              </div>
            </a>
          </mdb-card-body>
        </div>
      </div>
  
      <div class="col-lg-6 col-xl-5 mb-3">
          <div class="view overlay rounded z-depth-2 waves-light" mdWavesEffect>
            <img src="../../assets/organization.jfif" class="image-fluid" width="550px">
            <a><div class="mask rgba-white-slight"></div></a>
            <mdb-card-body>
              <a href="#" class="green-text">
                <h4 class="font-weight-bold mt-2 mb-3"><strong>Organization</strong></h4>
                <div class="container">
                  <p>Are you volunteering organizations? Do you want to meet volunteers ? So here is the chance. Come and Join with us</p>
                  <a mdbBtn color="successs" size="md" rounded="true" class="wave-light btncolor white-text" mdbWavesEffect>Register</a>
                </div>
              </a>
            </mdb-card-body>
          </div>
        </div>
  
    </div>

</section>